<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!--定义bean，该Bean的id是zhangGa（张嘎），class指定该bean示例的实现类-->
    <bean id="zhangGa" class="cn.qwx.entity.Greeting" p:person="张嘎" p:words="三天不打鬼子，手都痒痒！">
       <!-- <property name="person" value="张嘎"/>
        <property name="words" value="三天不打鬼子，手都痒痒"/>-->

        <!--使用构造注入完成属性赋值-->
        <!--<constructor-arg value="张嘎"/>-->
        <!--<constructor-arg value="三天不打鬼子，手都痒痒！"/>-->

    </bean>

    <bean id="rod" class="cn.qwx.entity.Greeting">
        <property name="person" value="Rod"/>
        <property name="words" value="世界上有10种人，认识二进制和不认识二进制的。"/>
    </bean>


   <bean id="zhanShenArmet" class="cn.youxi.Equip">
       <property name="name" value="战神头盔"/>
       <property name="type" value="头盔"/>
       <property name="speedPlus" value="2"/>
       <property name="attackPlus" value="4"/>
       <property name="defencePlus" value="6"/>
   </bean>

    <bean id="lianhuansuozijia" class="cn.youxi.Equip">
        <property name="name" value="连环锁子甲"/>
        <property name="type" value="铠甲"/>
        <property name="speedPlus" value="6"/>
        <property name="attackPlus" value="4"/>
        <property name="defencePlus" value="15"/>
    </bean>

    <bean id="bosizhuifengxue" class="cn.youxi.Equip">
        <property name="name" value="波斯追风靴"/>
        <property name="type" value="靴子"/>
        <property name="speedPlus" value="8"/>
        <property name="attackPlus" value="2"/>
        <property name="defencePlus" value="3"/>
    </bean>

    <bean id="lanmojiezhi" class="cn.youxi.Equip">
        <property name="name" value="蓝魔指环"/>
        <property name="type" value="指环"/>
        <property name="speedPlus" value="8"/>
        <property name="attackPlus" value="12"/>
        <property name="defencePlus" value="2"/>
    </bean>

    <bean id="zhangsan" class="cn.youxi.Player">
        <property name="armet" ref="zhanShenArmet"/>
        <property name="boot" ref="lianhuansuozijia"/>
        <property name="loricae" ref="bosizhuifengxue"/>
        <property name="ring" ref="lanmojiezhi"/>
    </bean>

    <!--使用p命名铠甲实现游戏程序-->
    <bean id="aresHelmet1" class="cn.youxi.Equip" p:name="战神头盔"
          p:type="头盔" p:speedPlus="2" p:attackPlus="4" p:defencePlus="6"/>
    <bean id="chainArmor1" class="cn.youxi.Equip" p:name="连环锁子甲"
          p:type="铠甲" p:speedPlus="6" p:attackPlus="4" p:defencePlus="15"/>
    <bean id="persiaBoot1" class="cn.youxi.Equip" p:name="波斯追风靴"
          p:type="靴子" p:speedPlus="8" p:attackPlus="2" p:defencePlus="3"/>
    <bean id="blueDevilRing1" class="cn.youxi.Equip" p:name="蓝魔指环"
          p:type="指环" p:speedPlus="8" p:attackPlus="12" p:defencePlus="2"/>

    <bean id="zhangsan1" class="cn.youxi.Player" p:armet-ref="aresHelmet1"
          p:loricae-ref="chainArmor1" p:boot-ref="persiaBoot1" p:ring-ref="blueDevilRing1"/>

</beans>